@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
body {
  font-family: Roboto, sans-serif;
  color: #31302f;
  font-weight: 300;
  font-size: 16px; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

img {
  display: block;
  width: 100%; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 27.2px; }

h3 {
  font-size: 20.8px;
  font-weight: 500; }

p {
  margin-bottom: 0.5rem; }

.pb-25 {
  padding-bottom: 50% !important; }

hr.line-blue {
  border-color: #00b9af;
  border-width: 2px; }

hr.line-thin-blue {
  border-color: #80d8d4;
  border-width: 1px; }

@media (min-width: 576px) {
  .pb-25 {
    padding-bottom: 25% !important; }

  .pb-sm-25 {
    padding-bottom: 25% !important; } }
@media (min-width: 768px) {
  .pb-md-25 {
    padding-bottom: 25% !important; } }
@media (min-width: 992px) {
  .pb-lg-100 {
    padding-bottom: 100% !important; } }
.pb-50 {
  padding-bottom: 50% !important; }

.bg-grey {
  background-color: #edefef !important; }

.bg-blue {
  background-color: #00b9af !important; }

.bg-dark {
  background-color: #575757 !important; }

.bg-white {
  background-color: #fff !important; }

.c-blue {
  color: #00b9af; }

.c-red {
  color: red !important; }

b, strong {
  font-weight: 700; }

small {
  font-size: 13px; }

td {
  vertical-align: text-top;
  padding-right: 10px; }

.img-wrapper {
  position: relative;
  background-color: #fff;
  flex: 1;
  min-height: 220px;
  overflow: hidden; }

.img-absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.table-row {
  display: table-row; }

.table-cell {
  display: table-cell; }

.btn-primary {
  color: #fff;
  background-color: #00b9af;
  border-color: #00b9af;
  min-width: 100px; }
  .btn-primary:hover {
    background-color: #00b9af;
    border-color: #00b9af; }

.btn-secondary {
  color: #31302f;
  background-color: #fff;
  border-color: #fff;
  min-width: 100px; }
  .btn-secondary:hover {
    background-color: #fff;
    border-color: #fff;
    color: #31302f; }

.btn-product {
  color: #31302f;
  background-color: #80d8d4;
  border-color: #80d8d4;
  min-width: 100px;
  font-weight: 700; }
  .btn-product:hover {
    color: #31302f;
    background-color: #80d8d4;
    border-color: #80d8d4; }

.my-form-control {
  padding: 0.56rem 0.75rem; }

.pagination_icon {
  background-color: #00b9af;
  border-radius: 50%;
  background-color: #00b9af;
  border-radius: 50%;
  width: 20px;
  text-align: center;
  line-height: 20px;
  height: 20px;
  color: white; }
.pagination_prev {
  padding-right: 3px; }
.pagination_next {
  padding-left: 3px; }

.page-link {
  color: #31302f;
  font-weight: 500;
  border: 0; }
  .page-link.current, .page-link:hover {
    color: #00b9af;
    background-color: transparent; }

.form-control {
  border: 0; }

.logo {
  max-width: 120px; }
  .logo_inline {
    display: inline-block;
    padding: 3px;
    vertical-align: top;
    margin: 0 10px; }

.navbar-light .navbar-nav .active > .nav-link {
  color: #00b9af; }
.navbar-light .navbar-nav .nav-link {
  color: #31302f;
  text-transform: capitalize; }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #00b9af; }

.dropdown-toggle:after {
  display: none; }

.dropdown:hover .dropdown-menu {
  display: block; }

.dropdown-menu {
  background-color: #edefef;
  color: #31302f;
  border: 0;
  border-radius: 0;
  min-width: 5rem; }
  .dropdown-menu .dropdown-item:focus,
  .dropdown-menu .dropdown-item:hover {
    color: #00b9af;
    text-decoration: none;
    background-color: transparent; }

.dropdown-sub {
  position: relative;
  width: 100%; }
  .dropdown-sub .dropdown-submenu {
    position: absolute;
    left: 100.5%;
    top: 0;
    padding: 0.5rem 0;
    visibility: hidden;
    transition: all .4s ease;
    background-color: #edefef; }
  .dropdown-sub:hover .dropdown-submenu {
    visibility: visible; }

.dropdown-item {
  font-weight: 300; }

.dropdown-divider {
  margin: .5rem auto;
  border-top: 1px solid #fff;
  width: 80%; }

.scrolling-navbar {
  transition: all 0.5s ease; }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem; } }
.carousel {
  height: 100vh;
  overflow: hidden; }

.mycard {
  padding-bottom: 50%;
  background-color: #00b9af;
  transition: all .4s ease;
  position: relative;
  overflow: hidden;
  flex: 1; }
  .mycard .btn-price {
    transform: scale(0);
    transition: all .4s ease; }
  .mycard:hover {
    background-color: #80d8d4; }
    .mycard:hover .btn-price {
      transform: scale(1); }
    .mycard:hover .info {
      transform: translate(-50%, -50%); }
  .mycard .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all .4s ease;
    color: #fff; }
    .mycard .info h3 {
      white-space: nowrap;
      text-align: center; }

@media (min-width: 768px) {
  .mycard {
    padding-bottom: 100%; } }
.event .event-date {
  min-width: 60px;
  border-radius: 5px;
  float: left;
  background-color: #00b9af; }
  .event .event-date > * {
    display: block;
    color: white; }
  .event .event-date_day {
    font-size: 26px; }
  .event .event-date_month {
    font-size: 20px; }
.event .event-content {
  display: table-cell;
  padding-left: 10px; }
  .event .event-content .event-author {
    font-size: 13px; }

.testimonial_image {
  float: left;
  overflow: hidden;
  position: relative;
  width: 80px;
  height: 80px;
  background-color: #00b9af;
  border-radius: 5px; }
.testimonial_inner {
  background-color: #fff;
  border: 1px solid #575757;
  line-height: 28px;
  margin: 0px 0px 0px 120px;
  padding: 20px;
  position: relative; }
  .testimonial_inner:before {
    border: 20px solid transparent;
    border-right-color: #000;
    content: '';
    display: block;
    left: -41px;
    position: absolute;
    top: 20px; }
  .testimonial_inner:after {
    border: 20px solid transparent;
    border-right-color: #fff;
    content: '';
    display: block;
    left: -40px;
    position: absolute;
    top: 20px; }
.testimonial_title {
  border-bottom: 1px solid #575757; }
.testimonial_sign {
  font-style: italic;
  padding-right: 1.5rem;
  font-size: 13px;
  text-align: right; }

.social_icons i {
  color: white;
  border: 2px solid white;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  margin-right: 10px; }

.guider_avatar {
  background-color: #00b9af;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative; }
.guider_info_short {
  font-size: 16px;
  font-weight: 300; }

#sync1 .item {
  background: #00b9af;
  padding-bottom: 40%;
  margin: 5px;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden; }

#sync2 .item {
  background: #80d8d4;
  padding-bottom: 50%;
  margin: 5px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden; }
#sync2 .current .item {
  background: #00b9af; }

[class*='owl-'] {
  transition: all .3s ease; }
  [class*='owl-'].disabled:hover {
    background-color: #D6D6D6; }

#sync1.owl-theme {
  position: relative; }
  #sync1.owl-theme .owl-next, #sync1.owl-theme .owl-prev {
    width: 22px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%; }
  #sync1.owl-theme .owl-prev {
    left: 10px; }
  #sync1.owl-theme .owl-next {
    right: 10px; }

.modal.show .modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(10px, 0); }

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 96%; } }
.timeline .step_1,
.timeline .step_2,
.timeline .step_3, #formStep1:before, #formStep2:before, #formStep3:before {
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  border: 2px solid #00b9af;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  text-align: center;
  color: #00b9af;
  font-weight: 500;
  font-size: 2rem; }

.timeline {
  min-height: 3.5rem;
  position: relative; }
  .timeline:before {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #00b9af;
    position: absolute;
    top: 50%;
    margin-top: -2px; }
  .timeline .step_1 {
    background-color: #00b9af;
    color: #fff;
    left: 0; }
  .timeline .step_2 {
    left: 50%; }
  .timeline .step_3 {
    left: 100%; }

.fromto span {
  font-weight: bold; }

.input-display {
  background-color: #80d8d4;
  text-align: center;
  font-weight: bold;
  border-color: transparent; }

.passenger_info .form-control:disabled, .passenger_info .form-control[readonly] {
  background-color: #80d8d4; }

#formStep1 {
  position: relative; }
  #formStep1:before {
    content: '1';
    background-color: #80d8d4;
    top: .4rem;
    right: .4rem;
    transform: translate(0); }

#formStep2 {
  position: relative; }
  #formStep2:before {
    content: '2';
    background-color: #00b9af;
    color: #fff;
    top: .4rem;
    right: .4rem;
    transform: translate(0); }

#formStep3 {
  position: relative; }
  #formStep3:before {
    content: '3';
    background-color: #00b9af;
    color: #fff;
    top: .4rem;
    right: .4rem;
    transform: translate(0); }

#bookingStep1 {
  display: block; }

#bookingStep2 {
  display: none; }

#bookingStep3 {
  display: none; }

.payment {
  border: 5px solid transparent;
  transition: all 0.5s ease;
  background-color: #fff;
  border-radius: 10px;
  padding: 0.6rem;
  flex: 1; }
  .payment:hover {
    border-color: #00b9af;
    cursor: pointer; }

.policy {
  background-color: #80d8d4;
  font-size: 13px;
  padding: 1rem;
  height: 150px;
  overflow-y: auto; }

.blog .author {
  font-weight: bold; }

.guider_avatar {
  display: block; }

@media (max-width: 767px) {
  html {
    font-size: 12.8px; }

  body {
    font-size: 12.8px; }

  h1 {
    font-size: 25.6px; }

  h2 {
    font-size: 21.76px; }

  h3 {
    font-size: 16.64px; }

  small {
    font-size: 11.7px; }

  .carousel {
    height: auto; }

  .testimonial_sign {
    font-size: 10.4px; }

  .event .event-date_day {
    font-size: 20.8px; }
  .event .event-date_month {
    font-size: 16px; }
  .event .event-content .event-author {
    font-size: 11.7px; }

  .guider_info_short {
    font-size: 12.8px; } }
.loading {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1503656701522-a5a236ed2779?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=33a69025f49fc4aea10a1c368a10f62a");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }
  .loading:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .5s ease; }
  .loading:hover:after {
    background-color: rgba(0, 0, 0, 0.1); }
  .loading .btn-enter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #00b9af;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1rem 4rem;
    font-size: 26px;
    border-radius: 15px;
    z-index: 5; }
    .loading .btn-enter:hover {
      background-color: rgba(255, 255, 255, 0.7);
      cursor: pointer; }

/*# sourceMappingURL=style.css.map */
