$cl-primary: #00b9af;
$cl-secondary: #80d8d4;
$cl-black: #31302f;
$cl-light-black: #575757;
$cl-grey: #edefef;
$cl-white: #fff;

$font-title: 26px;
$font-subtitle: 20px;
$font-extra-title: 40px;
$font-content: 16px;
$font-small: 13px;
 