$cl-primary: #00b9af;
$cl-secondary: #80d8d4;
$cl-black: #31302f;
$cl-light-black: #575757;
$cl-grey: #edefef;
$cl-white: #fff;

$font-title: 22px;
$font-subtitle: 18px;
$font-extra-title: 30px;
$font-content: 15px;
$font-small: 13px;
$font-menu: 16px;
 