@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import 'variable';

body{
    font-family: Roboto, sans-serif;
    color: $cl-black;
    font-weight: 300;
    font-size: $font-content;
}
// BASE
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
img{
    display: block;
    width: 100%;
}
h1{
    font-size: $font-content*2;
}
h2{
    font-size: $font-content*1.7;
}
h3{
    font-size: $font-content*1.3;
    font-weight: 500;
}
p{
    margin-bottom: 0.5rem;
}
.pb-25{
    padding-bottom: 50% !important;
}
hr.line-blue{
    border-color: $cl-primary;
    border-width: 2px;
}
hr.line-thin-blue{
    border-color: $cl-secondary;
    border-width: 1px;
}
.about{
    vertical-align: middle;
    display: inline-block;
    margin-top: 6px;
}
@media (min-width: 576px){
    .pb-25{
        padding-bottom: 25% !important;
    }
    .pb-sm-25{
        padding-bottom: 25% !important;
    }
}
@media (min-width: 768px){
    .pb-md-25{
        padding-bottom: 25% !important;
    }
}
@media (min-width: 992px){
    .pb-lg-100{
        padding-bottom: 100% !important;

    }
}
.pb-50{
    padding-bottom: 50% !important;
}
.bg-grey{
    background-color: $cl-grey !important;
}
.bg-blue{
    background-color: $cl-primary !important;
}
.bg-dark{
    background-color: $cl-light-black !important;
}
.bg-white{
    background-color: $cl-white !important;
}
.c-blue{
    color: $cl-primary;
}
.c-red{
    color: red !important;
}
b,strong{
    font-weight: 700;
}
small{
    font-size: $font-small;
}
td {
    vertical-align: text-top;
    padding-right: 10px;
}
.img-wrapper{
    position: relative;
    background-color: $cl-white;
    flex: 1;
    min-height: 220px;
    overflow: hidden;
}
.img-absolute{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: auto;
}
.table-row{
    display: table-row;
}
.table-cell{
    display: table-cell;
}
.to_top{
    width: 60px;
    height: 60px;
    display: block;
    position: fixed;
    bottom: 10px;
    right: 10px;
    transition: all 0.5s ease;
}
// END BASE

// COMPONENTS

// BUTTON
.btn-primary {
    color: $cl-white;
    background-color: $cl-primary;
    border-color: $cl-primary;
    min-width: 100px;
    &:hover{
        background-color: $cl-primary;
        border-color: $cl-primary;
    }
}
.btn-secondary {
    color: $cl-black;
    background-color: $cl-white;
    border-color: $cl-white;
    min-width: 100px;
    &:hover{
        background-color: $cl-white;
        border-color: $cl-white;
        color: $cl-black;
    }
}
.btn-product {
    color: $cl-black;
    background-color: $cl-secondary;
    border-color: $cl-secondary;
    min-width: 100px;
    font-weight: 700;
    &:hover{
        color: $cl-black;
        background-color: $cl-secondary;
        border-color: $cl-secondary;
    }
}
.my-form-control{
    padding: 0.56rem 0.75rem
}

.pagination{
    &_icon{
        background-color: $cl-primary;
        border-radius: 50%;
        background-color: #00b9af;
        border-radius: 50%;
        width: 20px;
        text-align: center;
        line-height: 20px;
        height: 20px;
        color: white;
    }
    &_prev{
        padding-right: 3px;
    }
    &_next{
        padding-left: 3px;
    }
}
.page-link {
    color: $cl-black;
    font-weight: 500;
    border: 0;
    &.current,
    &:hover{
        color: $cl-primary;
        background-color: transparent;
    }
}
.form-control{
    border: 0;
}
// END COMPONENTS

// NAVIGATION BAR
.logo{
    max-width: 120px;
    &_inline{
        display: inline-block;
        padding: 3px;
        vertical-align: top;
        margin: 0 10px;
    }
}
.navbar-light{
    .navbar-nav{
        .active{
            &>.nav-link{
                color: $cl-primary;
            }
        }
        .nav-link{
            color: $cl-black;
            text-transform: capitalize;
            font-size: $font-menu;
            &:hover{
                color: $cl-primary;
            }
        }
    }    
}
.dropdown-toggle{
    &:after{
        display: none;
    }
}
.dropdown{
    &:hover{
        .dropdown-menu{
            display: block;
        }
    }
}
.dropdown-menu{
    background-color: $cl-grey;
    color: $cl-black;
    border: 0;
    border-radius: 0;
    min-width: 5rem;
    text-align: center;
    .dropdown-item:focus,
    .dropdown-item:hover {
        color: $cl-primary;
        text-decoration: none;
        background-color: transparent;
    }
}
.dropdown-sub{
    position: relative;
    width: 100%;
    .dropdown-submenu{
        position: absolute;
        left: 100.5%;
        top: -8px;
        padding: 0.5rem 0;
        visibility: hidden;
        transition: all .4s ease;
        background-color: $cl-grey;
    }
    &:hover{
        .dropdown-submenu{
            // display: block;
            visibility: visible;
        }
    }
}
.dropdown-item{
    font-weight: 300;
}
.dropdown-divider {
    margin: .5rem auto;
    border-top: 1px solid #fff;
    width: 80%;
}
.scrolling-navbar{
    transition: all 0.5s ease;
}
@media (min-width: 992px){
    .navbar-expand-lg{
        .navbar-nav{
            .nav-link {
                padding-right: 1rem;
                padding-left: 1rem;
            }
        }
    }
}
// END NAVIGATION BAR

// CAROUSEL
.carousel{
    height: 100vh;
    overflow: hidden;
}
// END CAROUSEL

// PLACES
.mycard{
    padding-bottom: 50%;
    background-color: $cl-primary;
    transition: all .4s ease;
    position: relative;
    overflow: hidden;
    flex: 1;
    .btn-price{
        transform: scale(0);
        transition: all .4s ease;
    }
    &:hover{
        background-color: $cl-secondary;
        .btn-price{
            transform: scale(1);
        }
        .info{
            transform: translate(-50%,-50%);
        }
    }
    .info{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,0);
        transition: all .4s ease;
        color: $cl-white;
        h3{
            white-space: nowrap;
            text-align: center;
        }
    }
}
@media (min-width: 768px){
    .mycard{
        padding-bottom: 70%;
    }
}
@media (max-width: 768px){
    .mycard{
        background-color: #fff;
        &:hover{
            background-color: #fff;
        }
        .img-absolute{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            height: auto;
            width: 100%;
        }
    }
}
// END PLACES

// CALENDAR
.event{
    .event-date{
        min-width: 60px;
        border-radius: 5px;
        float: left;
        background-color: $cl-primary;
        &>*{
            display: block;
            color: white;
        }
        &_day{
            font-size: $font-title;
        }
        &_month{
            font-size: $font-subtitle;
        }
    }
    .event-content{
        display: table-cell;
        padding-left: 10px;
        .event-author{
            font-size: $font-small;
        }
    }
}
// END CALENDAR

// TESTIMONIAL
.testimonial{
    &_image{
        float: left;
        overflow: hidden;
        position: relative;
        width: 80px;
        height: 80px;
        background-color: $cl-primary;
        border-radius: 5px;
    }
    &_inner{
        background-color: #fff;
        border: 1px solid $cl-light-black;
        line-height: 28px;
        margin: 0px 0px 0px 120px;
        padding: 20px;
        position: relative;
        &:before{
            border: 20px solid transparent;
            border-right-color: #000;
            content: '';
            display: block;
            left: -41px;
            position: absolute;
            top: 20px;        
        }
        &:after{
            border: 20px solid transparent;
            border-right-color: #fff;
            content: '';
            display: block;
            left: -40px;
            position: absolute;
            top: 20px;
        }
    }
    &_title{
        border-bottom: 1px solid $cl-light-black;
    }
    &_sign{
        font-style: italic;
        padding-right: 1.5rem;
        font-size: $font-small;
        text-align: right;
    }
}
// END TESTIMONIAL

// SOCIAL
.social{
    &_icons{
        i{
            color: white;
            border: 2px solid white;
            height: 40px;
            width: 40px;
            text-align: center;
            line-height: 38px;
            border-radius: 50%;
            margin-right: 10px;
            transition: all 0.3s ease;
            &:hover{
                color: $cl-primary;
                border-color: $cl-primary;
            }
        }
    }
}
// END SOCIAL

// GUIDER
.guider{
    &_avatar{
        background-color: $cl-primary;
        width: 100%;
        padding-bottom: 100%;
        overflow: hidden;
        position: relative;
    }
    &_info{
        flex-grow: 1;
        &_short{
            font-size: $font-content;
            font-weight: 300;
        }
    }
}
.product_detail{
    flex-grow: 1;
}
// END GUIDER

// PRODUCT
#sync1 {
    .item {
        background: $cl-primary;
        padding-bottom: 48%;
        margin: 10px;
        margin-top: 0;
        color: $cl-white;
        text-align: center;
        position: relative;
        overflow: hidden;
    }
    .active{
        img{
            height: auto !important;
        }
    }
}
#sync2 {
    .item {
        background: $cl-secondary;
        padding-bottom: 50%;
        margin: 10px;
        color: $cl-white;
        text-align: center;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .current{
        .item{
            background: $cl-primary;
        }
    }
}
  
  
  
[class*='owl-'] {
    transition: all .3s ease;
    &.disabled:hover {
        background-color: #D6D6D6;
    }   
}  
  //arrows on first carousel
#sync1.owl-theme {
    position: relative;
    .owl-next, .owl-prev {
        width: 22px;
        height: 40px;
        margin-top: -20px;
        position: absolute;
        top: 50%;
    }
    .owl-prev {
      left: 10px;
    }
    .owl-next {
      right: 10px;
    }
}
// END PRODUCT

// BANNER
.banner{
    height: 100%;
    background-image: url('../assets/banner.jpg');
    background-size: cover;
    background-position: center;
}
// END BANNER

// PARTNER
.owl-carousel{
    .img-wrapper{
        min-height: 150px;
    }
}
// PARTNER

// MODAL
.modal.show{
    .modal-dialog {
        -webkit-transform: translate(0,0);
        transform: translate(10px,0);
    }
}
@media (min-width: 576px)
{
    .modal-dialog {
        max-width: 96%;
    }
}
.product_notes{
    display: inline-block;
    font-size: $font-small;
    vertical-align: top;
}
// END MODAL

// BOOKING
%step{
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    border: 2px solid $cl-primary;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: $cl-white;
    text-align: center;
    color: $cl-primary;
    font-weight: 500;
    font-size: 2rem;
}
.timeline{
    min-height: 3.5rem;
    position: relative;
    &:before{
        content: '';
        width: 100%;
        height: 4px;
        background-color: $cl-primary;
        position: absolute;
        top: 50%;
        margin-top: -2px;
    }
    
    .step_1,
    .step_2,
    .step_3{
        @extend %step;
    }
    .step_1{
        background-color: $cl-primary;
        color: $cl-white;
        left: 0;
    }
    .step_2{
        left: 50%;
    }
    .step_3{
        left: 100%;
    }
}
.fromto{
    span{
        font-weight: bold;
    }
}
.input-display{
    background-color: $cl-secondary;
    text-align: center;
    font-weight: bold;
    border-color: transparent;
}
.passenger_info{
    .form-control:disabled, .form-control[readonly] {
        background-color: $cl-secondary;
    }
}
#formStep1{
    position: relative;
    &:before{
        @extend %step;
        content: '1';
        background-color: $cl-secondary;
        top: .4rem;
        right: .4rem;
        transform: translate(0);
    }
}
#formStep2{
    position: relative;
    &:before{
        @extend %step;
        content: '2';
        background-color: $cl-primary;
        color: $cl-white;
        top: .4rem;
        right: .4rem;
        transform: translate(0);
    }
}
#formStep3{
    position: relative;
    &:before{
        @extend %step;
        content: '3';
        background-color: $cl-primary;
        color: $cl-white;
        top: .4rem;
        right: .4rem;
        transform: translate(0);
    }
}
#bookingStep1{
    display: block;
}
#bookingStep2{
    display: none;
}
#bookingStep3{
    display: none;
}
.payment{
    border: 5px solid transparent;
    transition: all 0.5s ease;
    background-color: $cl-white;
    border-radius: 10px;
    padding: 0.6rem;
    flex: 1;
    &:hover{
        border-color: $cl-primary;
        cursor: pointer;
    }
    .img-absolute{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: auto;
        width: 100%;
    }
}
.policy{
    background-color: $cl-secondary;
    font-size: $font-small;
    padding: 1rem;
    height: 150px;
    overflow-y: auto;
}
//BOOKING

// BLOGS
.blog{
    .author{
        font-weight: bold;
    }
}
// END BLOGS

// GUIDER
.guider_avatar{
    display: block;
}
// END GUIDER

// RESPONSIVE

@media (max-width: 767px){
    html{
        font-size: $font-content*0.8;
    }
    body{
        font-size: $font-content*0.8;
    }
    h1{
        font-size: $font-content*2*0.8;
    }
    h2{
        font-size: $font-content*1.7*0.8;
    }
    h3{
        font-size: $font-content*1.3*0.8;
    }
    small{
        font-size: $font-small*0.9;
    }
    .carousel{
        height: auto;
    }
    .testimonial{
        &_sign{
            font-size: $font-small*0.8;
        }
    }
    .navbar-light{
        .navbar-nav{
            .nav-link{
                font-size: $font-menu*0.9;
            }
        }    
    }
    .event{
        .event-date{
            &_day{
                font-size: $font-title*0.8;
            }
            &_month{
                font-size: $font-subtitle*0.8;
            }
        }
        .event-content{
            .event-author{
                font-size: $font-small*0.9;
            }
        }
    }
    .guider_info_short{
        font-size: $font-content*0.8;
    }
    .product_notes{
        font-size: $font-small*0.8;
    }
}

// Loading
.loading{
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1503656701522-a5a236ed2779?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=33a69025f49fc4aea10a1c368a10f62a');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        transition: all .5s ease;
    }
    &:hover:after{
        background-color: rgba(0,0,0,.1);
    }
    .btn-enter{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: $cl-primary;
        background-color: rgba(255,255,255,0.3);
        padding: 1rem 4rem;
        font-size: $font-title;
        border-radius: 15px;
        z-index: 5;
        &:hover{
            background-color: rgba(255,255,255,0.7);
            cursor: pointer;
        }
    }
}