extends layout.pug
block content
    .container-fluid
        .row.bg-blue.py-4.banner
            .col.d-flex.justify-content-center.py-4
                .py-4
                    h1.text-center.text-white
                        |Glad you had your trip.  
                        br
                        |Let finish the last step!
    //- hotels
    .container
        .row.pt-4
            .col
                h1.my-4 Pomelo sweet pudding: A great summertime treat 
                p 
                    |by 
                    span.author Sophie 
                    |at 02:30 20/06/2018
                p.py-4 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure fugit consequatur repellat iste ducimus nam architecto sapiente tempore? Perspiciatis optio quam nemo velit itaque ipsum exercitationem deserunt rem asperiores laboriosam! Aspernatur dolores excepturi autem libero. Quibusdam non ab minus pariatur fugit deserunt corporis sapiente suscipit quo consequuntur reiciendis ducimus harum debitis, voluptas fugiat sit voluptatem ipsum temporibus nemo sed labore nulla est! Reiciendis velit quae dolores maxime, beatae consequuntur deleniti porro eos nostrum minima fugiat, provident vel temporibus, earum exercitationem. Numquam vero quia eveniet placeat laudantium error alias necessitatibus earum impedit soluta ipsa quod quas delectus nihil molestias, expedita distinctio voluptates, vel cum pariatur iste dolore. Optio quas perferendis eligendi, sit ipsam eos voluptas eum nemo ullam eaque expedita non beatae veritatis doloribus eius totam possimus. Cumque explicabo tempore harum veniam saepe, voluptatem aspernatur voluptas maxime, accusamus esse, ducimus ut assumenda consectetur in quod qui officia debitis eos corporis! Excepturi.
        .row
            .col-sm-6
                .mycard.mb-4
            .col-sm-6
                .mycard.mb-4
        .row
            .col
                hr.line-blue.mb-4
        .row
            .col-md-4
                .mycard.mb-4
            .col-md-4
                .mycard.mb-4
            .col-md-4
                .mycard.mb-4
