extends layout.pug
block content
    .container
        .row.product.pt-4
            .col-md-7
                .product_carousel
                    #sync1.owl-carousel.owl-theme
                        .item
                            img.img-absolute(src="../assets/product-1-full.jpg", alt="")
                        .item
                            img.img-absolute(src="../assets/product-2-full.jpg", alt="")
                        .item
                            img.img-absolute(src="../assets/product-2-full.jpg", alt="")
                        .item
                            img.img-absolute(src="../assets/product-2-full.jpg", alt="")
                    #sync2.owl-carousel.owl-theme
                        .item
                            img.img-absolute(src="../assets/product-1-small.jpg", alt="")
                        .item
                            img.img-absolute(src="../assets/product-2-small.jpg", alt="")
                        .item
                            img.img-absolute(src="../assets/product-2-small.jpg", alt="")
                        .item
                            img.img-absolute(src="../assets/product-2-small.jpg", alt="")
            .col-md-5
                .product_detail
                    h1.my-4.text-center Da Nang -  Hue - Hoi An
                    .product_duration Duration: 
                        b 2days
                    .product_price Price:
                        button.btn.btn-primary.btn-product.mx-4 235$
                        span.product_notes
                            |For 1 Adult 
                            br
                            |Not included Hotel &#38; Flight fee
                    p.py-2 Situated in the heart of Ho Chi Minh City alongside the Saigon River offering 343 guest rooms and suites, Le Méridien Saigon is your entry point to the many attractions of this storied city. 
                    p.py-2 Ben Thanh Market, Notre Dame Cathedral, and Reunification Palace are all located within two kilometres of our front door.
                    hr.line-blue
                    .text-center.py-2
                        button.btn.btn-primary.btn-product Book now
        .row.product_info.pb-4
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore unde ad expedita magni excepturi non explicabo impedit amet autem eius vel velit molestias similique atque, optio, quis quaerat dolorem aspernatur? Architecto excepturi sequi praesentium provident veritatis illum aspernatur fuga pariatur, autem, enim hic placeat alias officia debitis nemo modi deleniti expedita repellendus. Ut, autem facilis? Ab reprehenderit quos pariatur temporibus ratione beatae aperiam corrupti in nihil odit deleniti eius dolor excepturi voluptate consequuntur adipisci totam, ea quasi! Aut consectetur tempore eaque. Est dolore iste facilis alias quas blanditiis maiores voluptatibus laborum, odit autem, deleniti, dicta eius doloremque ducimus aut totam?